version: '3.4'
services:
  dev:
    network_mode: host
    image: api-iseng
    ports: 
      - 8080:8080
    build:
      context: .
      dockerfile: Dockerfile
    command: /main
    volumes:
      - .:/go/src/github.com/ekiv/api-iseng
    working_dir: /go/src/github.com/ekiv/api-iseng
    env_file:
      - .env